body{
  margin: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  height: 60px;

}
.dropdown li a{
  width: 100px;
  text-align: center;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 108px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  background-color: #333 ;
  width: 108px;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;  text-decoration: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; width: 80px;  text-decoration: none;}

hr{
  margin: 4px;
}
h1 {
  color : blue;
}
.button-home{
  background-color: #333;
  margin: 0px;
  top: 0px;
  width: 60px;
  height: 60px;
  padding: 0px;
  vertical-align: top;
}
nav ul a img{
  width: 35px;
  text-align: center;
  margin: 12px;

}
/* Navbar container */
nav {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
nav ul{
  background-color: #333;
  overflow: hidden;
  margin: 0px;
  top: -2px;
  width: 100%;
  height: 60px;
  padding: 0px;
}
nav ul a {
  display: inline-block;
  color: #f2f2f2;
  padding: 20px;

  text-decoration: none;
  font-size: 17px;
}
nav ul a:hover{
  background-color: #ddd;
  color: black;
}
nav ul li{
  display: inline;
    height: 60px;
    margin-top: 100px;
}
nav ul li:hover{
  background-color: black;
}

table {
  border-spacing: 0px;
  border-color:white;
  width:100%;
}
table td {
  border-width:0.1px;
  border-style:solid;
  border-color:lightgray;
}

table td img {
    display: block;
    margin: auto;
    padding : 10px;
}

table td button {
  display: block;
  margin: auto;
}
table td {
  text-align: center;
}
th{
  background-color: #92A6B1;
  color : white;
  padding: 20px;
  border-width:0.1px;
  border-style:solid;
  border-color:lightgray;
}
tr:nth-child(odd) {background: #F2F2F2}

tr:hover{
  background: #90EE90;
  text-decoration: none;
}

table td img{
  width: 300px;
}

form {
 background-color:#FAFAFA;
 padding:10px;
 width:auto;
 }

 label {
 margin-top:10px;
 display:block;
 font-weight: bold;
 font-size: 20px;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea{
  background-color:#FFF3F3;
    display: block;
}
input {
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:200px;
  box-shadow:1px 1px 2px #C0C0C0 inset;

}
form button {
  margin-left: 400px;
  margin-top: 10px;
  margin-right: 0px;
	border-radius:12px 0 12px 0;
  width: 200px;
	background: #478bf9;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
}

video{
  margin-left: 300px;
  width: 500px;
  padding: 20px;
  border-style: dashed;
  border-width: 5px;
}
#div_figures{
  border-style: dashed;
  border-width: 5px;
  width: 40%;
}
#figcaption_dowload{
  width: 370px;
}
figure figcaption{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  margin-top: 15px;
  display: inline-block;
}
figure audio{
  position: absolute;
}
figure a{
  font-size: 25px;
}
.active{
  background: #C0C0C0;
}

footer {
  position: relative;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #fff;
    bottom: 0px;
    right: 0px;
}
footer .fa {
  margin-left: 7px;
  font-size: 50px;
  margin-left: 30px;
  text-decoration: none;
}

form#form_ajout input#image { display:inline-block; width: 300px; margin-right: 175px }
form#form_ajout input#pays { display:inline-block; width: 75px;}
form#form_ajout input#circuit { display:inline-block; width: 475px; height:50px; margin-left: 15px }
form#form_ajout input#prix { display:inline-block; width: 75px; margin-left: 10px; margin-right: 220px}
form#form_ajout input[type=submit] {display:inline-block; width: 100px; color:#fff; background-color:green; }

#mapid { height: 180px; }

h1{
  text-align: center;
}

h3{
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 25px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.section{
  margin-top: 20px;
  text-align: center;
}
.information {
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}
.carousel-slide {
  margin: auto;
}

.item {
  height: 600px;
}

.item img {
  height: 100%!important;
  margin: auto;
}

.carousel-control {
  background : none!important;
}

.agence-item{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.agence-title{
  font-size: 20px;
}

.label-numero{
  display: inline;
}
.num-aide{
  margin-left: 3px;
  display: inline;
}
.email-aide{
    margin-left: 3px;
    display: inline;
}


#mapid { height: 500px; width: 100%}

.localisation{
  margin-bottom: 100px;
}

@keyframes fade {
  from { opacity: 0.2; }
}

.blinking {
  animation: fade 1s infinite alternate;
}